<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/css/root.css">
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <a href="./signup">Sign up Page</a>
</main>

</body>
</html>